name: Build Binaries

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            output: treetouch-linux
          - os: macos-latest
            output: treetouch-macos
          - os: windows-latest
            output: treetouch-win.exe

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - run: pip install pyinstaller

    - run: pyinstaller --onefile --name ${{ matrix.output }} treetouch/main.py

    - uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/${{ matrix.output }}
        tag: ${{ github.ref }}
